<h1>Pirates</h1>
<h3>Name: <%= @pirate.name %></h3>
<h4>Weight: <%= @pirate.weight %></h4>
<h5>Height: <%= @pirate.height %></h5>


<h6>Ships</h6>
<% @ships.each do |ship| %>
  <p>Name: <%= ship.name %></p><br>
  <p>Type: <%= ship.type %></p><br>
  <p>Booty: <%= ship.booty %></p>
<% end %>